.list {
    list-style-type: none;
    padding: 0;
  }
  
  .contactItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  
  .name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .number {
    color: #888;
  }
  